.box h3{
    font-size: medium;
    text-align: center;
}
.lists li{
    list-style:circle
}
.lists{
    text-align: center;
}

.about1{
  display: flex;
  color: #e2de57;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  background: linear-gradient(rgb(46, 82, 68) , #65916e , rgb(46, 82, 68));
  border: #325b4b 0.125rem solid;
  border-radius: 0.625rem;
  padding: 2.5rem;
  margin: 0.625rem 15vw;
}
.prof img{
  width: 13vw;
  max-width: 12.5rem;
  min-width: 8rem;
  height: 13vw;
  max-height: 12.5rem;
  min-height: 8rem;
  border-radius: 20%;
  border: 0.125rem solid #e2de57;
}
.profname{
    font-size: 1rem;
    font-variant: small-caps;
    color: #eaf737;
    text-align: center;
    margin-top: 0.625rem;
    text-shadow: none;
    font-family: serif;
    font-weight: bold;
}
.prof{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.25rem;
    background-color: #325b4b;
    padding: 2rem;
    border-radius: 1.25rem;
}
.headmaster-statement{
    padding: 0.625rem 1.25rem;
    text-shadow: none;
    text-align: center;
    font-family: serif;
}